.background {
    background-color: #27ace3;
    border-radius: 3px;
    max-height: 400px;
    max-width: 150px;
}

.title {
    margin: 10px 0px 3px 5px;
}

h4 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    padding-top: 10px;
}

input {
    background-color: #f0eeee;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 11px;
}

button {
    margin: 10px 0px 10px 11px;
}

.center {
    margin-left: 71px;
}