.background {
    background-color: #27ace3;
    border-radius: 3px;
    max-height: 400px;
    max-width: 300px;
}

.title {
    margin: 10px 0px 3px 5px;
}

h4 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    padding-top: 10px
}

input {
    border: none;
    border-radius: 3px;
    background-color: #f0eeee;
    margin-top: 10px;
    margin-left: 13px;
}

.center {
    margin-left: 83px;
}

button {
    margin: 10px 0px 10px 90px;
}

