.header {
    height: 90px;
    width: 100%;
    background-color: #27ace3;
    border-radius: 10px;
}

.logo {
    height: 80px;
    width: 80px;
    padding: 2.5px 0px 0px 5px;
    position: absolute;
    z-index: 2;
}

.nav {
    height: 24px;
    width: 150px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
    float: right;
    margin-right: -5%;
    padding-top: 0.7%;
    z-index: 0;
}

.profilePic {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

button {
   background: #c0c0c0;
   padding: 0.5px 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 3px;
   color: #01060a;
   font-size: 13px;
   font-weight: 300;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

button:hover {
   background: #9b9b9b;
   color: #01060a;
   }

/*
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
*/

.signInButt {
    margin-right: 2%;
}

.main {
    margin: 20px 0px 0px 2%;
}


.table {
    width: 1250px;
    margin-left: 0.5%;
    margin-top: 1%;
    border: 1px;
    border-color: #d1d1d1;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f0eeee;
}

.input {
    padding-left: 34%;
}

.search {
    height: 20px;
    width: 200px;
    border-radius: 3px;
}